<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sobre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    {% include 'components/header.html' %}
    
    <div class="container">
      <h1>Sobre</h1>
      <p>Página experimental para testar meu conhecimento em linguagem de programação, escolhei Python,Flask, html e css.</p>
      <p>Desenvolvido para a vaga de estágio de desenvolvimento - Oak tecnologia.</p>
    </div>
    
    <footer>
      &copy; 2024 Codado com carinho por Alexsandra Tavares. Todos os direitos reservados | Prova Experimental.
    </footer>
  </body>
</html>
